NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://contactvjjewellers_db_user:TOUCcvhkYqUrMe3k@vjjeweller.n909bcw.mongodb.net/?appName=vjjeweller

CLIENT_URL=http://localhost:5173

JWT_SECRET=6a7a6ed1e4d32f313a949d4a0d317eb8e2db2fc16d0f6269f77897cde62a0104ca01631c4f59ad65da74ac480a2386cede60a16cb5bf0529133f0c818fc405b4
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=deocsxbfm
CLOUDINARY_API_KEY=199238519522268
CLOUDINARY_API_SECRET=-dHPKaOPskOcIfQJvhZV_1xDuuE

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjZhMmJmM2M0YzA5YWRiYTg4MzkzMTM4MCIsImlhdCI6MTc4MTI4NTg5NCwiZXhwIjoxNzgxODkwNjk0fQ.C6lFM1ACPmdCup5_823jAM7guhVaDAUc6c5PhLTjfMs